.conteudo_principal {
	margin-top: 2rem;
	margin-bottom:3.5rem;	
	}

.conteudo_principal-subtitulo {
	font-weight: bold;
	font-size: 2rem;
	margin:1.5rem;
	text-align: center;
	}

.conteudo_principal-cursos--link {
	height: 6rem;
	background-color: #ccc5b9;
	text-align: center;
	margin: 0.5rem;
	padding:0.5rem;
	transition: .5s;
	box-shadow: 3px 3px 3px #333533;
	position: relative;
	}

.conteudo_principal-cursos--link a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	}

.conteudo_principal-cursos--link:hover {
	box-shadow: 6px 6px 6px aqua;
	scale: 1.05;
	}

.conteudo_principal-cursos--link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 1rem auto;
	}

.conteudo_principal-cursos--link:nth-child(even) :before {
	background: url(../img/background1.svg) no-repeat;	
	}

.conteudo_principal-cursos--link:nth-child(odd) :before {
	background: url(../img/background2.svg) no-repeat;
	}



@media (max-width: 768px) {
.conteudo_principal-cursos--link {
	margin: 0.3rem;
	padding: .5rem;
	}
	}
