.container {
	width: 100%;
	margin: 0;
	}

.menu_principal {
	background-color: #252422;
	padding: none;	
	}

.menu_principal-nav {
    display: flex;
    justify-content: space-around;
	}

.menu_principal-nav-link {
	padding:  1rem 1.2rem;
	margin-bottom: 5px ;
	color: #dedbe0;
	background-color: #252422;
	text-decoration: none;
	transition: .5s;
    font-size: 1rem;	
}

.menu_principal-nav-link:hover {
	color:aqua;
	background-color:#252422;
	scale: 1.06;
	border-radius:0.5rem;
	}

@media (max-width: 768px) {

.menu_principal-nav {
	flex-direction:column;
	align-items: center;
	margin: 0;
	padding: 0;
	}
	}