.container {
	width: 85%;
	margin: 0 auto;
}

.menu_principal {
    background-color: rgb(183, 196, 185);
	padding: none;
}



.menu_principal-nav {
    display: flex;
    justify-content: space-between;
}

.menu_principal-nav-link {
	padding:  1rem 5.2rem;
	margin-bottom: 5px ;
	color: #292a2e;
	background-color: rgb(183, 196, 185);
	text-decoration: none;
	transition: .5s;
    border-radius: 2px;
    font-size: 1rem;
	
}

.menu_principal-nav-link:hover {
color:aqua;
background-color:rgb(66, 56, 85);
scale: 1.01;
border-radius:0.5rem;

}

@media screen {
    
}
